<section id="projects" class="projects">
    <div class="projects-header">
        <p class="section-label">SELECTED WORKS</p>

        <h2>Things I've built.</h2>
        <p class="projects-intro">
            A selection of projects where I've applied my skills to build
            functional and thoughtful digital experiences.
        </p>
    </div>

    <div class="fetaured-project">
        <div class="project-img">
            <img src="assets/p2p.png" alt="Peer-to-Peer Learning Platform" />
        </div>

        <div class="project-info">

            <p class="project-type">FEATURED PROJECT</p>

            <h3>Peer-to-Peer Learning Platform</h3>

            <p class="project-description">
                A web-based peer-to-peer learning platform designed to connect
                learners and make collaborative learning more accessible.
            </p>

            <div class="project-tags">
                <span>React</span>
                <span>Tailwind CSS</span>
                <span>Node.js</span>
                <span>MongoDB</span>
            </div>

            <div class="project-links">
                <a href="">View Project</a>
                <a href="">Github</a>
            </div>
        </div>
    </div>
</section>